<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Learn.GitHub</title>
	<script type="text/javascript" src="js/jquery-1.2.6.pack.js"></script>
	<script type="text/javascript" src="js/thickbox-compressed.js"></script>
	<script type="text/javascript" src="js/jquery.corner.js"></script>
	
	<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="css/thickbox.css" type="text/css" media="screen"/>
</head>

<body>
  <div class="container">

    <div class="span-21" id="header">
      <div class="span-10">
        <a href="/"><img src="images/learn.github.png" alt="github learn logo" /></a>
      </div>

      <div class="span-11 last">
        <div id="links">
          <a href="http://github.com">home</a>
          <a href="http://github.com/login">login</a>
          <a href="http://github.com/signup">signup!</a>
        </div>
      </div>
    </div>
    
    <div class="span-21" id="welcome">
      <h1>Welcome to the GitHub Learning site</h1>
      <p>Here we have tried to compile the
      best online learning Git resource available.  There are a number of 
      articles and screencasts, written and arranged to try to make learning 
      Git as quick and easy as possible.</p>
      <p>This site is a work in progress.</p>
    </div>

    <div class="span-7" id="start">
      <div class="button red">
        <a href="p/intro.html">Start the Full Course</a>
      </div>
    </div>

    <div class="span-7" id="how">
      <div class="button green">
        10 Minute Crash Course
      </div>
    </div>
    
    <div class="span-7 last" id="why">
      <div class="button blue">
        "Why Git" in 5 Minutes
      </div>
    </div>
    
    <div class="span-21 last">
      <br clear="both"/>
      <hr/>
    </div>
    
    <%= @content %>

    <div id="footer" class="span-21">
      <div class="info span-12">
        <div class="links">
          <a href="http://github.com/blog/148-github-shirts-now-available">T-Shirts</a> |
          <a href="http://github.com/blog">Blog</a> |
          <a href="http://support.github.com/">Support</a> |
          <a href="http://github.com/training">Git Training</a> |
          <a href="http://github.com/contact">Contact</a> |
          <a href="http://groups.google.com/group/github/">Google Group</a> |
          <a href="http://github.wordpress.com">Status</a>
        </div>
        <div class="company">
          GitHub is <a href="http://logicalawesome.com/">Logical Awesome</a> &copy;2009 | <a href="http://github.com/site/terms">Terms of Service</a> | <a href="http://github.com/site/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="fork span-7">
        This website is <a href="http://github.com/learn/learn.github.com">open source</a>.  
        Please help us by forking the project and adding to it.
      </div>
    </div>

  </div>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-3769691-2");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>

</body>
</html>
