#
# Octopi GitHub API configuration file
#

# GitHub user login and token
login: github-username
token: github-token

# Trace level
# Possible values:
#   false - no tracing, same as if the param is ommited
#   true  - will output each POST or GET operation to the stdout
#   curl  - same as true, but in addition will output the curl equivalent of each command (for debugging)
trace: curl